body {
    font-family: 'Arial', sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: darkred;
}

h1 {
    margin: 35px;
}

.container {
    max-width: 720px;
    margin-top: 4vmin;
    margin: 0 auto;
}

.App {
  text-align: center;
}

.App-header {
  background-color: darkred;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ProbForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProbForm-label {
    display: block;
    font-weight: bold;
    padding-bottom: 10px;
}

.ProbForm-input {
    /* display: block; */
    /* width: 100%; */
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid lightcoral;
}

.Probform-fieldset {
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid lightcoral;
}

.Probform-legend {
    font-size: 0.9em;
    text-align: left;
}

.Probform-radio-label {
    margin-right: 20px;
    font-weight: bold;
    /* color: #555; */
    display: flex;
    align-items: center;
}

.Probform-radio-input {
    margin-right: 5px;
    transform: scale(1.1);
}

.ProbForm-button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 1em;
}

.ProbForm-button:hover {
    background-color: #700808;
}

p[role="alert"] {
    color: red;
    font-weight: bold;
    margin-top: 0px;
    font-size: 0.9em;
}

.ProbRes {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding-top: 3px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    border-color: lightcoral;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ProbRes-result {
    font-size: 1.2em;
    color: darkred;
    margin-top: 10px;
}